@model Models.Models.ViewModels.AuctionVM

@{
    ViewData["Title"] = Model.Auction.Id == 0 ? "Create Auction" : "Edit Auction";
    bool isEditMode = Model.Auction.Id != 0;
    bool isAuctionInProgress = Model.Auction.Status == AuctionStatus.InAuction;
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Upsert" method="post">
    <input type="hidden" asp-for="Auction.Id" />

    <div class="form-group">
        <label for="ItemId">Select Item</label>
        @if (isEditMode)
        {
            <select asp-for="Auction.ItemId" asp-items="@(new SelectList(ViewBag.Items, "Id", "Name"))" class="form-control" required disabled></select>
        }
        else
        {
            <select asp-for="Auction.ItemId" asp-items="@(new SelectList(ViewBag.Items, "Id", "Name"))" class="form-control" required></select>
        }
    </div>

    <div class="form-group">
        <label>Auction Start Time</label>
        @if (isAuctionInProgress)
        {
            <input type="datetime-local" asp-for="Auction.StartTime" class="form-control" required disabled />
        }
        else
        {
            <input type="datetime-local" asp-for="Auction.StartTime" class="form-control" required />
        }
    </div>

    <div class="form-group">
        <label>Auction End Time</label>
        @if (isAuctionInProgress)
        {
            <input type="datetime-local" asp-for="Auction.EndTime" class="form-control" required disabled />
        }
        else
        {
            <input type="datetime-local" asp-for="Auction.EndTime" class="form-control" required />
        }
    </div>

    <div class="form-group">
        <label>Status</label>
        <select asp-for="Auction.Status" asp-items="Html.GetEnumSelectList<AuctionStatus>()" class="form-control" disabled></select>
    </div>

    <br />

    @if (!isAuctionInProgress)
    {
        <button type="submit" class="btn btn-primary">Save</button>
    }
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
